.container-tasks {
  width: 100%;
  max-width: 400px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-tasks p {
  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.container-tasks span {
  font-size: 1.5rem;
  background-color: #333;
  color: #fff;
  padding: 0.1rem 0.8rem;
  border-radius: 7px;
}
