.container-tasks {
  width: 100%;
  max-width: 450px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    & span {
      font-size: 1.5rem;
      background-color: #333;
      color: #fff;
      padding: 0.1rem 0.8rem;
      border-radius: 7px;
    }
  }

  & .baja {
    background-color: #06f;
  }
  & .media {
    background-color: #e70;
  }
  & .alta {
    background-color: #f03;
  }

  & .checked {
    background-color: #333;
    filter: grayscale(50%);
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 0.15s ease;
  }

  & .no-checked {
    background-color: #333;
  }

  & .task {
    width: 100%;
    color: #fff;
    border: 1.5px solid #ffffff50;
    border-radius: 10px;
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    transition: all 0.15s ease;

    & .header-task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      & h3 {
        display: inline-block;
        font-size: 1.15rem;
        text-transform: capitalize;
      }

      & span {
        display: inline-block;
        font-size: 0.6rem;
        font-weight: 700;
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 0.25rem 0.5rem;
        border-radius: 15px;
        transition: background-color 0.15s ease;
      }
      & .personal {
        border-color: #f05;
        &:hover {
          background-color: #ff000014;
        }
      }
      & .trabajo {
        border-color: #00f;
        &:hover {
          background-color: #0000ff22;
        }
      }
      & .estudios {
        border-color: #0f0;
        &:hover {
          background-color: #00ff0012;
        }
      }
      & .deporte {
        border-color: #ff0;
        &:hover {
          background-color: #ffff0010;
        }
      }
      & .entretenimiento {
        border-color: #f0f;
        &:hover {
          background-color: #ff00ff12;
        }
      }
      & .otra {
        border-color: #0ff;
        &:hover {
          background-color: #00ffff12;
        }
      }
    }

    & .task-description {
      font-size: 0.9rem;
      font-weight: 400;
      color: #ccc;
      width: 75%;
      text-align: left;
      word-break: normal;
      white-space: normal;
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;
    }

    & .task-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      & .button {
        all: unset;
        font-size: 0.9rem;
        padding: 0.4rem 0.7rem;
        background-color: transparent;
        color: #fff;
        border: 1px solid #ffffff50;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.15s ease;
      }

      & .task-edit {
        margin-right: 0.6rem;
        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }

      & .task-delete {
        color: #f00;
        &:hover {
          background-color: #f00;
          color: #fff;
        }
      }
    }
  }
}
